services:
  app:
    build: .
    container_name: laravel-app
    user: "${UID}:${GID}"
    expose:
      - "9000"
    volumes:
      - .:/var/www/html
      - .env:/var/www/html/.env
    networks:
      - app-network
    depends_on:
      - db

  web:
    image: nginx:1.28
    container_name: laravel-web
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    depends_on:
      - app

  db:
    image: mysql:8.4
    container_name: laravel-db
    ports: 
      - "3306:3306"
    environment:
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USERNAME}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  node:
    image: node:24
    container_name: laravel-node
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "5173:5173"
    command: bash -c "npm install && npm run dev"
    networks:
      - app-network
    depends_on:
      db:
        condition: service_started

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
